.networks {
  display: flex;
  justify-content: space-around;
  margin: auto 0;
  gap: 20px;
  width: 20%;
}
@media screen and (max-width: 430px) {
  .networks {
    margin: 0 auto;
    padding-top: 15px;
    width: 50%;
  }
}
