.mostPopularItemsTitle {
  margin-bottom: 0;
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  color: red;
  text-shadow: 2px 2px 5px red;
}
.mostPopularItemsSwiper {
  padding-bottom: 35px !important;
}
.swiper-button-prev {
  top: 40% !important;
  left: 10% !important;
}
.swiper-button-next {
  top: 40% !important;
  right: 10% !important;
}
@media screen and (max-width: 500px) {
  .swiper-button-prev {
    left: 1% !important;
  }
  .swiper-button-next {
    right: 1% !important;
  }
}
